/* color for purple: #593697 / 	HTML code:	#5B3896
RGB code:	R: 91 G: 56 B: 150 */

body	{
	font-family:Arial, Verdana, Garamond;
  text-align: center;
  margin: auto;
	}

.keaheader { 
	background-color:#5B3896; 
	text-align:center;  
	margin:auto; 
	font-size:50px; 
	color:#c1bb31; 
	font-style:bold; 
	}

	#id{
		margin:auto;
		text-align: center;
	}

#form {
  width:70%;
  margin:auto;
  margin-top: 40px;
  }
form, input {
  margin:auto;
  padding:5px;
  width:50%
}
form {
  font-family:Arial, Verdana, Garamond;;
  font-size:20px;
  text-align: center;
}
select {
  margin:7px;
  padding:5px;
  width:50%
}
.button {
  margin:auto;
  display:block;
  padding:7px;
  font-size: 20px;
  border-radius:12px;
  width: 50%;
  
}
input {
	margin:auto;
  display:block;
  padding:7px;
  font-size: 20px;
  border-radius:12px;
  width: 50%;
}