/* this goes with confirmreg.php */
/* '#' is for an id  . for a class. */  
body	{
	font-family:Arial, Verdana, Garamond;
  	text-decoration: none;
  	}

.keaheader { 
  background-color:#5B3896; 
  text-align:center;  
  margin:auto; 
  font-size:50px; 
  color:#c1bb31; 
  font-style:bold; 
}
.container 	{  
		text-align:center;
	  	margin:auto; 
		width:80%
		}			

.button {
	padding:7px;
  	font-size: 20px;
  	border-radius:12px;
  	width: 20%; 
  	text-decoration:none;
	text-align: center;
	clear:all;		
	}



