/* this goes with details.php */
/* '#' is for an id  . for a class. */  
body	{
	font-family:Arial, Verdana, Garamond;
  text-decoration: none;
  }

.keaheader { 
  background-color:#5B3896; 
  text-align:center;  
  margin:auto; 
  font-size:50px; 
  color:#c1bb31; 
  font-style:bold; 
}

.button {
  margin-top: 7px;
  margin-bottom: 7px;
  padding:7px;
  font-size: 20px;
  border-radius:12px;
  width: 60%; 
  text-decoration:none;
  text-align:center;
  display:inline-block;
}

.right1 {
  text-align:center;
  display:inline-block;
}

.container {  
  margin:auto;  
  width:100%}

#left {
  margin: auto;
  display: inline-block;
  float:left;
  width: 33%;
    }
#middle {
  margin: auto;
  width:33%;
  float:left;
  }
#right {
  margin: auto;
  width:33%;
  float:left;
}
  /*centering the table inside the div.  Make the table fill the div and give it relative position.*/
table{
    width:98%;
    height:100%;
    position:relative;
    }
table, th, td {
    /*border: 1px solid black;
    /* border-collapse makes one single border around the table. 
    border-collapse: collapse;*/
    padding:2px;
    margin:3px;
}
